<template>
  <div :class="`border rounded box ${cls}`">
    <p class="m-0 p-1 border-bottom font-weight-light">{{ data.title }}</p>
    <p class="m-0 p-1 font-weight-lighter text-justify">{{ data.description }}</p>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import INote from "@/components/Note/Note.interface";

@Component
export default class Note extends Vue {
  @Prop({
    type: Object as () => INote,
    required: true
  })
  private data!: INote;

  @Prop({
    type: String,
    default: ""
  })
  private cls!: string;
}
</script>

<style scoped>
.box {
  min-width: 100px;
  max-width: 100px;
}
</style>
