<template>
  <b-container>
    <b-row>
      <b-col>
        <DragZone height="300px">
          <Draggable v-for="(note, idx) in notes" v-bind:key="`note-${idx}`">
            <Note :data="note" :cls="note.cls" />
          </Draggable>
        </DragZone>
      </b-col>
    </b-row>

    <b-row>
      <b-col class="d-flex justify-content-start pt-3">
        <b-button variant="primary" @click="modalShow">
          Add
        </b-button>
      </b-col>
    </b-row>

    <b-modal ref="modalNote" title="Create note" id="note-modal">
      <b-form>
        <b-form-group id="note-title" label="Title" label-for="note-title">
          <b-form-input v-model="noteForm.title" placeholder="Enter title" required></b-form-input>
        </b-form-group>

        <b-form-group id="note-desc" label="Title" label-for="note-desc">
          <b-form-textarea
            id="textarea"
            v-model="noteForm.description"
            placeholder="Enter description"
            rows="3"
            max-rows="6"
            required
          ></b-form-textarea>
        </b-form-group>

        <b-form-group id="note-color" label="Color" label-for="note-color">
          <b-form-select v-model="noteForm.cls" :options="noteColors" required></b-form-select>
        </b-form-group>
      </b-form>

      <template #modal-footer="{ ok, cancel }">
        <b-button @click="cancel()">
          Cancel
        </b-button>
        <b-button variant="info" @click="modalSubmit(ok)">
          Create
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import DragZone from "@/components/DragZone";
import Draggable from "@/components/Draggable";
import Note from "@/components/Note/Note";
import INote from "@/components/Note/Note.interface";

@Component({
  components: {
    DragZone,
    Draggable,
    Note
  }
})
export default class Whiteboard extends Vue {
  private notes: INote[] = [];

  private noteForm: INote = {
    title: "",
    description: "",
    cls: ""
  };

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private readonly noteColors: any[] = [
    {
      value: "bg-primary",
      text: "Blue"
    },
    {
      value: "bg-secondary",
      text: "Gray"
    },
    {
      value: "bg-success",
      text: "Green"
    },
    {
      value: "bg-danger",
      text: "Red"
    },
    {
      value: "bg-warning",
      text: "Yellow"
    },
    {
      value: "bg-info",
      text: "Light-blue"
    },
    {
      value: "bg-dark",
      text: "Dark"
    },
    {
      value: "bg-light",
      text: "Light"
    }
  ];

  mounted() {
    this.notes.push({
      title: "Test",
      description: "Test",
      cls: "bg-light"
    });

    this.$root.$on("bv::modal::hide", (_, modalId: string) => {
      if (modalId === "note-modal") {
        this.modalReset();
      }
    });
  }

  modalShow() {
    this.$refs.modalNote.show();
  }

  modalReset() {
    this.noteForm = {
      title: "",
      description: "",
      cls: ""
    };
  }

  modalSubmit(callback: any) {
    this.notes.push(this.noteForm);

    callback();
  }
}
</script>

<style scoped></style>
