<template>
  <div ref="draggable" class="draggable">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Draggable extends Vue {
  private x1 = 0;
  private y1 = 0;
  private x2 = 0;
  private y2 = 0;

  mounted() {
    this.$refs.draggable.addEventListener("mousedown", this.onMouseDown);
  }

  onMouseDown(e: any): void {
    e.preventDefault();

    this.x2 = e.clientX;
    this.y2 = e.clientY;

    this.$refs.draggable.parentElement.addEventListener("mouseup", this.onMouseUp);
    this.$refs.draggable.parentElement.addEventListener("mousemove", this.onMouseMove);
  }

  onMouseUp(e: any): void {
    e.preventDefault();

    this.$refs.draggable.parentElement.removeEventListener("mouseup", this.onMouseUp);
    this.$refs.draggable.parentElement.removeEventListener("mousemove", this.onMouseMove);
  }

  onMouseMove(e: any): void {
    e.preventDefault();

    this.x1 = this.x2 - e.clientX;
    this.y1 = this.y2 - e.clientY;
    this.x2 = e.clientX;
    this.y2 = e.clientY;

    // eslint-disable-next-line prettier/prettier
    this.$refs.draggable.style.left = `${this.$refs.draggable.offsetLeft - this.x1}px`;
    // eslint-disable-next-line prettier/prettier
    this.$refs.draggable.style.top = `${this.$refs.draggable.offsetTop - this.y1}px`;
  }
}
</script>

<style scoped>
.draggable {
  position: absolute;
  z-index: 9;
  cursor: move;
}
</style>
