<template>
  <div class="border rounded p-1" v-bind:style="{ height: height, width: width }">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class DragZone extends Vue {
  @Prop({
    type: [Number, String],
    default: "auto"
  })
  private width!: number | string;

  @Prop({
    type: [Number, String],
    default: "auto"
  })
  private height!: number | string;
}
</script>

<style scoped></style>
